.env
node_modules
jspm_packages/
npm-debug.log*
pids
*.pid
*.seed
.lock-wscript
.DS_Store
logs
*.log

yarn-debug.log*
yarn-error.log*
dist/
.yarn-integrity
*.tgz
.node_repl_history
.eslintcache
.npm
typings/